.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/css/filament
public/js/filament
public/fonts/filament
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/database.sqlite
tests
.phpunit.cache
